header div.container {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 45vh;
}

header div.container div.title {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(-3deg);
	background-color: #1a91b5;
	color: white;
	width: 130vw;
	margin: 10vh auto 0;
	position: absolute;
	top: -20vh;
	right: -15vw;
	padding: 25vh 20vw 10vh;
	z-index: 2;
}

header div.container div.title h1 {
	font-size: 3rem;
	transform: rotate(3deg);
	text-transform: uppercase;
}

header div.container form {
	position: absolute;
	top: 45vh;
	left: 17vw;
	width: 70vw;
	height: 50vh;
	transform: scale(1.1) rotate(2deg);
	border-radius: 25px 45px 100px 100px;
	z-index: 1;
}

header div.container form div.containerForm {
	transform: scale(1.1) rotate(-2deg);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 2vh 0;
}

header div.container form div.containerForm input {
	width: 15vw;
	height: 5vh;
	font-size: 1.1rem;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #757575;
	padding: 10px;
	margin: 0 3vw;
	outline: none;
	transition: all 0.3s ease-in-out;
}

header div.container form div.containerForm input:focus {
	border-bottom: 2px solid #1e1e1f;
}

header div.container form div.containerForm textarea {
	width: 40vw;
	height: 15vh;
	font-size: 1.1rem;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #757575;
	padding: 10px;
	margin: 0 3vw;
	resize: none;
	outline: none;
}

header div.container form div.containerForm textarea:focus {
	border-bottom: 2px solid #1e1e1f;
}