header {
	height: 100vh;
	width: 100vw;
	display: flex;
}

header div.header {
	height: 57.5vh;
	width: 100vw;
	background: url(../assets/header.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

header form {
	position: absolute;
	top: 50%;
	left: 10vw;
	right: 10vw;
	height: 15vh;
	width: 80vw;
	background-color: white;
	box-shadow: 10px 10px 10px #00000053;
	display: flex;
	flex-flow: row;
	align-items: center;
	border-radius: 15px;
	gap: 20%;
}

form div.filtres {
	display: flex;
	flex-flow: row;
	justify-content: left;
	align-items: center;
	width: 80vw;
}

form div.filtres div.filtre {
	width: 80%;
}

input,
span,
label {
  display: block;
  margin: 10px;
  padding: 15px;
  border: none;
  font-size: 2.3rem;
}

input:focus {
  outline: 0;
}

details {
	position: relative;
	margin: 0 1rem 0 3vw;
	transition: all 0.3s ease-in-out;
}

details[open] {
	z-index: 1;
	transition: all 0.3s ease-in-out;
}

summary {
	padding: 1rem;
	cursor: pointer;
	list-style: none;
	border-bottom: 1px solid #727272;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
}

summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: 1rem;
	height: 1rem;
	border-bottom: 2px solid #8F8F8F;
	border-left: 2px solid #8F8F8F;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: all 0.3s ease-in-out;
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

details ul {
	width: 100%;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 300%;
	overflow-y: hidden;
	background-color: #8f8f8f30;
    backdrop-filter: blur(5px);
	transition: all 0.3s ease-in-out;
}

details li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
	list-style: none;
	color: #8F8F8F;
	transition: all 0.3s ease-in-out;
}

details li:first-child {
	padding-top: 0;
}

details li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
	transition: all 0.3s ease-in-out;
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
	font-size: 1rem;
	padding: 0;
	width: 80%;
	color: #8F8F8F;
	transition: all 0.3s ease-in-out;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
	transition: all 0.3s ease-in-out;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 2rem;
	transition: all 0.3s ease-in-out;
}

ul.list {
	counter-reset: labels;
}

details label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
	font-size: 1rem;
	padding: 0;
	color: #8F8F8F;
}

details label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
	font-size: 1rem;
	padding: 0;
	color: #8F8F8F;
	transition: all 0.3s ease-in-out;
}

form div.filtres div.filtre.hidden {
	display: none;
}

input.question {
  font-size: 2.3rem;
  border-radius: 2px;
  margin: 0 5vw 0;
  border: none;
  width: 80%;
  padding-top: 20px;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
}

input.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0 5vw 0;
  width: 10%;
  border-top: 1px solid var(--tercaryTextColor);
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label {
  width: 80%;
}

input.question:focus {
  padding-top: 30px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -110px;
  font-size: 1.5rem;
  color: #333;
}

input.question:valid {
	padding-top: 30px;
}

input.question:valid + label {
  border-color: green;
}

input.question:invalid {
  box-shadow: none;
}

input.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: max(2.7vw, 2.7vh);
  top: -75px;
  left: 0px;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

form div.filtres div.filtre input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	margin-top: 1.5vh;
	transform: translateY(-0.5vh);
}

form div.filtres div.filtre input[type="range"]::-webkit-slider-runnable-track {
	height: 1vh;
	border-radius: 50px;
	border: none;
	background: var(--tercaryTextColor);
	cursor: pointer;
}

form div.filtres div.filtre input[type="range"]::-moz-range-track {
	height: 1vh;
	border-radius: 50px;
	border: none;
	background: var(--tercaryTextColor);
	cursor: pointer;
}

form div.filtres div.filtre input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 2vh;
	width: 1vh;
	border: 1px solid var(--primaryBgColor);
	border-radius: 50px;
	background: var(--tercaryTextColor);
	cursor: pointer;
	transform: translateY(-0.5vh);
}

form div.filtres div.filtre input[type="range"]::-moz-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 2vh;
	width: 2vh;
	border: none;
	background: var(--tercaryTextColor);
	cursor: pointer;
}

form div.search {
	position: absolute;
	right: 2%;
	height: 60%;
	width: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: orange;
	border-radius: 15px;
}

form div.search:hover {
	cursor: pointer;
}

form div.search svg {
	fill: white;
}


div.containerHeader {
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 80vh;
}

div.rightHeader {
	display: flex;
	width: 30vw;
	height: 70vh;
	position: relative;
}

div.rightHeader img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	/* border-radius: 17% 83% 15% 85% / 84% 10% 90% 16% ; */
	border-radius: 25% 75% 31% 69% / 80% 17% 83% 20% ;
	box-shadow: 20px 20px 50px #00000053;
	animation: floating 5s linear infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0px) translateX(0px);
	}
	50% {
		transform: translateY(-10px) translateX(2px);
	}
	100% {
		transform: translateY(0px) translateX(0px);
	}
}

div.rightHeader div.decorationshape {
	height: 55%;
	margin-top: 60%;
	width: 100%;
	border-radius: 25px 45px 100px 100px;
	/* transform: rotate(-40deg) translateX(-40%) translateY(-20%) scale(0.7); */
	transform: scale(1.1) rotate(2deg);
	/* border-radius: 17% 83% 15% 85% / 84% 10% 90% 16% ; */
	background-color: rgba(0, 111, 208, 0.33);
	content: " ";
}