body {
	background: url("../assets/pattern.webp");
}

header {
	padding-top: 10vh;
	height: 100vh;
	width: 100vw;
	display: flex;
	background-position: center;
	background-size: cover;
}

div.innerHeader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	padding-top: 10vh;
	height: 100vh;
	width: 100vw;
}

header h1 {
	font-size: 4rem;
	display: flex;
	flex-direction: column;
	gap: 7vh;
	align-items: left;
	margin-bottom: 5vh;
	width: 50vw;
	font-weight: 400;
}

header h1 span.firstLetter {
	color: #f5c400;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 0px 0px 40px #f5c4007a;
	animation: blink 1s ease-in-out infinite alternate;
}

@keyframes blink {
	to {
		text-shadow: 0px 0px 40px #f5c400e7;
	}
}

header h1 span.secondPart {
	min-width: fit-content;
	white-space: nowrap;
	display: flex;
	align-items: center;
	gap: 1vw;
}

header h1 span.secondPart svg {
	fill: #3C8FA8;
	transform: scale(6);
	margin-right: 5vw;
	margin-left: 2.5vw;
}

div.searchBar {
	display: flex;
	position: absolute;
	bottom: 15vh;
	width: 80vw;
	background-color: rgb(245, 245, 245);
	align-items: center;
	box-shadow: 0px 0px 50px #00000029;
	justify-content: space-between;
	left: 10vw;
	color: black;
	padding: 3vh 3vw;
	border-radius: 10px;
}

div.searchBar div.containerInputs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}

div.searchBar div.containerInputs div.input {
	display: flex;
	flex-direction: column;
	gap: 1vh;
	width: 25%;
	justify-content: center;
	height: 10vh;
}

div.searchBar div.containerInputs div.input label {
	display: flex;
	align-items: center;
	gap: 1vw;
	font-size: 3vh;
}

div.searchBar div.containerInputs div.input label svg {
	fill: #f5c918;
}

div.searchBar div.containerInputs div.input input, div.searchBar div.containerInputs div.input select{
	padding: 1vh 1vw;
	border-radius: 5px;
	outline: none;
	width: 100%;
	border: 1px solid #3232322e;
	font-size: 2vh;
	transition: all 0.3s ease-in-out;
}

div.searchBar div.containerInputs div.input input:focus {
	border: 1px solid #0000007a;
}

div.searchBar div.containerInputs div.input input::placeholder {
	color: #757575;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

div.searchBar div.containerInputs div.input select {
	color: #757575;
}

div.searchBar div.containerInputs div.transition {
	width: .1vw;
	height: 10vh;
	content: " ";
	border-radius: 10px;
	background-color: rgba(25, 25, 25, 0.149);
}

div.searchBar button.searchButton {
	border-radius: 10px;
	background-color: #3C8FA8;
	color: white;
	font-size: 2.5vh;
	border: 2px solid #3C8FA8;
	outline: none;
	padding: .7vh .7vh;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(1.7);
	transition: all 0.3s ease-in-out;
}

div.searchBar button.searchButton svg {
	/* transform: scale(1.3); */
	fill: rgb(245, 245, 245);
}

div.containerHeader {
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 80vh;
}

div.rightHeader {
	display: flex;
	width: 30vw;
	height: 70vh;
	position: relative;
}

div.rightHeader img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	/* border-radius: 17% 83% 15% 85% / 84% 10% 90% 16% ; */
	border-radius: 25% 75% 31% 69% / 80% 17% 83% 20% ;
	box-shadow: 20px 20px 50px #00000053;
	animation: floating 5s linear infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0px) translateX(0px);
	}
	50% {
		transform: translateY(-10px) translateX(2px);
	}
	100% {
		transform: translateY(0px) translateX(0px);
	}
}

div.rightHeader div.decorationshape {
	height: 55%;
	margin-top: 60%;
	width: 100%;
	border-radius: 25px 45px 100px 100px;
	transform: scale(1.1) rotate(2deg);
	background-color: #3c8fa8a5;
	content: " ";
}

main {
	display: flex;
	flex-direction: column;
	width: 100vw;
	gap: 30vh;
}

div.headSection {
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: center;
	align-items: center;
	gap: 4vh;
}


div.headSection h1 {
	font-size: 3.5rem;
}

div.message {
	display: flex;
	width: 130vw;
	gap: 5vw;
	justify-content: space-between;
	align-items: center;
	margin: 10vh auto 0;
	margin-left: -15vw;
	padding: 10vh 20vw;
	background-color: #1a91b5;
	color: white;
	transform: rotate(-3deg);
}

div.message iframe {
	transform: rotate(3deg);

}

div.message div.rightSection {
	display: flex;
	flex-direction: column;
	transform: rotate(3deg) translateY(2vh);
	gap: 2vh;
}

div.whyUs {
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: center;
	align-items: center;
	gap: 7.5vh;
}

div.containerWhy {
	display: flex;
	flex-flow: row wrap;
	width: 100vw;
	justify-content: center;
	align-items: center;
	gap: 4vw;
}

div.containerWhy div.why {
	display: flex;
	width: 20%;
	flex-direction: column;
	border-radius: 10px;
	border: 1px solid #1e1e1e14;
	padding: 2vh 2vw;
	gap: 2vh;
	transform: skew(-5deg);
	transition: all 0.3s ease-in-out;
}

div.containerWhy div.why:hover {
	box-shadow: 20px 15px 40px #1e1e1e4f;
}

div.containerWhy div.why div.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4vh;
	width: 5.5vh;
	position: relative;
	margin-top: 2vh;
	border-radius: 0 0 10px 10px;
	background-color: #f5c40053;
	margin-left: 0.5vw;
	margin-bottom: 2vh;
	transform: skew(5deg);
}

div.containerWhy div.why div.icon::before {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2vh;
	width: 5.5vh;
	position: absolute;
	top: -2vh;
	z-index: 1000;
	content: " ";
	border-radius: 50px 50px 0 0;
	background-color: #f5c40053;
	transform: skew(5deg);
}

div.containerWhy div.why div.icon svg {
	position: absolute;
	left: 2%;
	bottom: -8%;
	transform: scale(2.6) skew(0deg);
	fill: #f5c400;
}


div.containerWhy div.why div.infoContainer {
	display: flex;
	flex-direction: column;
	transform: skew(5deg);
	gap: 1vh;
}

div.transitionMain {
	height: 30vh;
	width: 100vw;
	background-color: #e5f0f7;
	opacity: 0.8;
	background-image: radial-gradient(#1B91B6 0.5px, #f1f8fd 0.5px);
	background-size: 10px 10px;
}

div.featuredHouses {
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: center;
	align-items: center;
	gap: 7.5vh;
}

div.featuredHouses div.containerFeaturedHouses {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 80vw;
	/* height: 100vh; */
	column-gap: 1vh;
	row-gap: 3vh;
}

div.featuredHouses div.containerFeaturedHouses div.house {
	width: 18vw;
	background-color: rgb(229, 229, 229);
	border: 1px solid #ffffff7b;
	display: flex;
	gap: 2.5vh;
	align-items: center;
	flex-direction: column;
	padding: 1.5vh 1.5vh;
	border-radius: 7.5px;
	box-shadow: 0 0 20px  #ffffffc7;
	transition: all 0.3s ease-in-out;
}

div.featuredHouses div.containerFeaturedHouses div.house:hover {
	box-shadow: 0 0 40px  #c7c7c7e0;
	transform: scale(1.02);
	cursor: pointer;
}

img.imgHouse {
	border-radius: 8px;
	width: 100%;
}